body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

header{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  align-items: center;
}

header img{
  height: 50px;
  padding-left: 10px;
}

nav{
  text-align: right;
  flex-grow: 1;
}

nav span{
  padding: 20px 10px;
}

nav a{
  color: white;
  text-decoration: underline;
}

.hero {
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);
  position: relative;
}

#mission{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.main{
  width: 1200px;
  margin: auto;
  padding: 20px;
}

#featured{
  padding-top: 70px;
}


.flex-container-featured{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container-featured .row{
  padding: 5px;
}

.row img{
  height: 200px;
  margin: 10px;
  display: block;
}

#locations{
  height: 500px;
  background-image: url(../images/img-locations-background.jpg);
}

#locations h2{
  padding-top: 70px;
}

.flex-container-locations{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location-row{
  background-color: black;
  padding: 10px;
  opacity: 1;
  flex-basis: 300px;
  margin: 15px 20px;
}

.contact{
  text-align: center
  height: 200px;
}

footer{
  display: block;
  text-align: left;
}
